 @font-face{
	font-family: Besom;
	src: url('../fonts/Besom-font.ttf');
	font-weight: 600;
 }

 @font-face{
 	font-family: Bellaboo;
 	src: url('../fonts/BELLABOO/BELLABOO-Regular.ttf');
 	font-weight: 300;
 }	
 /* Move down content because we have a fixed navbar that is 50px tall */
 
html, body, #map{
  margin: 0;
  padding: 0;
  height: 100%;
}

a{
  text-decoration: none;
}
a:hover{
  color: #fff;
} 

body{
	font-family: 'Open Sans', sans-serif;
	color: #20262e;
	font-size: 22px;
}

img{
	height: auto;
}

img, video, embed{
	max-width: 100%;
}

textarea{
  resize: none;
}

.navbar{
	background-color: transparent;
	border: none;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-top: 30px;
}

.navbar-brand, footer .row:first-child{
	font-family: 'Besom', sans-serif;
  color: #fff;
  font-size: 40px;
}

.navbar>.container .navbar-brand{
  margin-left: 0px;
}

.navbar-right{
  margin-right: 0px;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-brand img{
	height: 40px;
	width: 40px;
	position: relative;
	margin-top: -10px;
}


.navbar-default .navbar-nav>li>a{
	font-size: 15px;
	/*font-family: 'Besom', 'Open Sans', sans-serif;*/
	color: #fff;
	font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover,
.black .navbar-nav>li>a.activated{
  border-bottom: 3px solid rgba(137, 246, 231,.3);
  padding: 10px 0px 5px 0px;
  border-radius: 1px;
  color: #fff;
}

.nav>li>a{
	padding: 10px 0px;
	margin: 0px 15px;
}

.header{
  text-align: center;
  color: rgb(210, 210, 210);
  background: url('../images/simon-bridge.jpg') no-repeat center center;
  -o-background-size: cover;
  -mo-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 190px;
  padding-bottom: 160px;
  margin-top: -90px;
}

.header h1{
	font-family: 'Dosis', sans-serif;
  	font-size: 105px;
  	font-weight: 100;
  	color: #fff;
  	text-shadow: 0px 0px 10px rgba(0,0,0,.2);
  	letter-spacing: -5px;
  	margin-bottom: 60px;
  	margin-top: 0px;
  	line-height: 137px;
}

.highlight{
	background-color: rgba(77, 186, 171,.3);
  	border-radius: 2px;
}

.header .row div{
	clear: both;
	margin: 0 auto;
}

.navbtn, .navbtn:focus{
	background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  color: #fff;
  width: 235px;
  position: relative;
  height: 76px;
  padding: 9px 68px 7px 24px;
  display: inline-block;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-decoration: none;
  margin-right: 15px;
}

.navbtn:last-child{
	width: 247px;
}

.navbtn:hover{
  color: #fff;
  text-decoration: none;
  background-color: rgba(77, 196, 181,.3);
}

.navbtn i{
	position: absolute;
	top: 21px;
  right: 26px;
}

.top h2{
	line-height: 46px;
  font-weight: 600;
  margin-top: 70px;
}

.top p{
	font-weight: 400;
	line-height: 37px;
	padding-bottom: 30px;
}

.testimony{
	padding: 40px 5%;
	border-top: 1.8px solid #d8d8d8;
	margin-top: 26px;
}

.testimony>figure{
	text-align: center;
  	vertical-align: middle;
  	padding-right: 30px;
  	padding-left: 30px;
}

figcaption{
	font-size: 14px;
	line-height: 24px;
	padding: 0 10%;
}

blockquote:before{
	content: open-quote;
  	position: absolute;
  	top: -20px;
  	left: -14px;
  	color: #000;
  	opacity: 0.2;
  	font-size: 70px; 	
}

blockquote{
	border-left:none;
  quotes: "“" "”";
}

blockquote p{
	font-size: 22px;
  	font-weight: 300;
  	line-height: 35px;
}

figure img{
	width: 100px;
  	margin-bottom: 20px;
}

.middle>.row, .bottom, .content, div.map{
	padding: 80px 6%;
}

.middle>.contact{
  padding-bottom: 0px;
}

div.map{
  padding-top: 0px;
}

.orange{
	background-color: #EE6B27;
  	color: #fff;
}

.orange h1, .blue h1{
	font-family: 'Dosis', sans-serif;
  	text-align: center;
  	font-size: 52px;
  	font-weight: 300;
  	margin-bottom: 25px;
}

.orange .top-sect p{
	padding: 0 18px;
  	margin-bottom: 60px;
  	line-height: 34px;
}

.orange h4, .blue h4,
.about h4{
	font-family: 'Dosis', sans-serif;
	font-size: 23px;
	font-weight: 300;
	line-height: 35px;
	padding-bottom: 20px;
}

.about h4{
  font-weight: 400;
}

.orange .bottom-sect p{
	font-size: 17px;
	line-height: 27px;
	font-weight: 600;
}

.top-2{
	padding: 40px 0;
}

.top-2 h2, .content h1, .content p, .content h2,
.content input, .content textarea{
	margin-bottom: 35px;
}

.top-2 p:nth-child(3), p:last-child{
	margin-bottom: 20px;
} 

.top-2 .main a, .bottom a, .content .main a, .content .main button{
	margin-top: 20px;
  max-width: 505px;
  font-size: 21px;
  border-color: rgba(77, 186, 171,1);
  border-radius: 3px;
  background-color: rgba(77, 186, 171,1);
  color: #fff;
}

.top-2 .main a:hover, .top-2 .main a:active, .top-2 .main a:focus, 
.bottom a:hover, .bottom a:active, .bottom a:focus,
.content .main a:hover, .content .main a:active, .btn-success a:focus,
.content .btn-default:hover, .content button:active, .content button:focus{
	border-color: rgba(69, 166, 153,1);
  border-radius: 3px;
  background-color: rgba(69, 166, 153, 1);
  color: #fff;
}

.bottom .row:first-child div{
	background-color: #eee;
  padding: 25px 40px;
  max-width: 330px;
  margin-right: 29px;
  margin-left: 20px;
  border-radius: 2px;
}

.bottom h4{
	font-size: 20px;
  font-weight: 700;
  margin-bottom: 28px;
}

.bottom p{
	font-size: 19px;
  line-height: 32px;
  margin-bottom: 38px;
}

.fancy-testimony{
  background-color: #20262E;
  color: #fff;
  margin-bottom: 50px;
}

.fancy-testimony h1{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  padding-top: 70px;
  font-size: 50px;
  font-weight: 300;
  line-height: 80px;
  text-transform: uppercase;
}

.fancy-testimony .row{
    padding: 40px 5%;
    margin-bottom: 40px;
}

.fancy-testimony>.row>div{
  padding: 0px;
}

.fancy-testimony img{
  max-width: 272px;
}

.blue{
  background-color: #28b1de;
  color: #fff;
}

.top-sect2{
  padding: 0px 80px;
}

.blue .bottom-sect h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 38px;
  margin-bottom: 30px;
}

.bottom-sect input,
.content input, .content button{
  height: 55px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}

.bottom-sect input.email,
.bottom-sect input.btn:hover{
  background: rgba(255,255,255,0.8);
}

.first{
  margin-bottom: 30px;
}

footer{
  background-color: #20262e;
  color: #fff;
  padding: 60px;
  text-align: center;
}

footer li, fieldset li{
  margin: 14px;
  font-size: 15px;
}

footer li, fieldset li, .pagination li{
  display: inline;
  text-decoration: none;
}

footer li a{
  color: #fff;
}

footer .row:nth-child(2){
  margin-bottom: 40px;
}

footer .row:last-child{
  font-size: 13px;
  color: #97959e;
}

.black .navbar-brand, .black .navbar-nav>li>a, 
.black .navbar-nav>li>a:hover,
.black .navbar-nav>li>a.activated{
  color: #000;
}

.black .navbar-nav>li>a:hover, 
.black .navbar-nav a, 
.black .navbar-nav>li>a.activated{
  border-color: rgba(77, 186, 171,1);
}

.content .main button{
  max-width: none;
  height: 60px;
  font-size: 24px;
  margin-bottom: 80px;
}

.content h1{
  font-size: 45px;
}

.content h2, .content h1{
  font-weight: 600;
}

.content a{
  margin-bottom: 70px;
  font-size: 23px;
}

.content label{
  margin-bottom: 25px;
}

.button-wrap{
  margin-top: 20px;
}

.button-white{
  background-color: #fff;
  color: #20262e;
}

.middle>.row, .content{
  padding-top: 40px;
}

body>.middle:nth-child(3)>.row{
  padding-top: 80px;
}

.middle .contact .col-md-9{
  padding-right: 100px;
}

.middle .side{
  padding-left: 15px;
  text-align: center; 
}

.side a{
  font-size: 21px;
}

.side a span{
  line-height: 33px;
}

.side a>i{
  font-size: 3.5em;
}

.side a:hover{
  text-decoration: none;
  background-color: #fff;
  color: #20262e;
}

.side p:nth-child(3){
  margin-bottom: 25%;
}

.about p{
  margin-bottom: 25px;
  line-height: 38px;
}

.blue.about>div, .orange.about>div{
  padding: 30px 6%;
}

.about h1.center-text{
  font-family:'Dosis', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 50px;
  line-height: 80px;
  margin-top: 0px;
}

.about a{
  margin-bottom: 30px;
}

.about>div>div{
  padding: 10px;
}

.about>div>div>img{
  margin-bottom: 20px;
  margin-top: 30px;
}

.about>div>div>p, .about .col-md-4 p{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.about>div>div:first-child>p{
  font-size: 22px;
  line-height: 40px;
}

.about:first-child>div{
  margin-bottom: 40px;
}

.row.content.about{
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.row.blue.about, .row.orange.about{
  padding: 50px 0px;
}

.content .main .btn-about-bottom{
  max-width: 900px;
  height: 80px;
  margin-bottom: 70px;
}

.btn-about-top{
  font-size: 24px;
  max-width: 450px;
}

.main:nth-child(2)>.about{
  margin-top: 40px;
}

/* Search Bar */
.middle>.article, .article{
  padding-bottom: 20px;
}

#custom-search-input, .article .col-md-4 {
  padding: 0;
}

#custom-search-input{
  margin:0;
  margin-top: 10px;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-left: 14px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
    font-size: 15px; 
    background-color: #eee;
    border-color: #fff;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -38px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#20262e;
}

.search-query:focus + button {
    z-index: 3;  
}     

#custom-search-input .form-control{
  border: none;
  border-top: none;
}
/* Search Bar */

fieldset.tag-border {
  border: 1px solid  #ddd;
  border-radius: 4px;
  max-width: 1100px;
  margin: 0px 60px;
  max-height: 70px;
  text-align: center;
  margin-bottom: 25px;
}

legend.tag-border {
  font-size: 10px;
  font-weight: 600;
  color: #20262e;
  text-align: center;
  width:inherit; /* Or auto */
  padding:0 auto; 
  border-bottom:none;
  margin: 0px;
}

.tag-border li{
  margin: 0.5px;
}

.tag-border .btn.btn-info.btn-sm{
  background-color: #20262e;
  border-color: #20262e;
  font-weight: 600;
}

.tag-border .btn.btn-info.btn-sm:hover{
  background-color: #28b1df;
  border-color: #28b1df;
}

.featured-image{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 450px;
  border-radius: 3px;
}

.featured-image .transparency{
  background-color: rgba(32, 38, 46, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.featured-link{
  display: block;
  width: 100%;
  min-height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.featured-link:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.featured-content{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
  z-index: 1;
}

.featured-content .entry-header .entry-title{
  text-align: center;
  text-transform: uppercase;
  line-height: 44px;
  font-weight: 500;
  font-family:'Dosis', sans-serif;
  border-bottom: 4px solid #4dba97;
  margin-top: 16px;
  margin-bottom: 24px;
  padding-bottom: 16px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.featured-content .entry-header .entry-title a{
  color: #fff;
  font-size: 25px;
}

.article .col-md-4{
  width: 350px;
  margin-bottom: 26px;
}

.middle section.article:nth-child(3){
  padding-top: 0px;
}

.spacing{
  margin-left: 26px;
}

.featured-content .entry-content{
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.article.pagination{
  margin-top: 0px;
  padding: 0px;
  width: 100%;
}

.pagination ul{
  text-align: center;
}

.pagination li a{
  background-color: #4dba97;
  border: 0px;
  font-size: 14px;  
}

.pagination li a:hover,
.pagination li a:focus, 
.pagination li a.activated{
  background-color: #3FA785;
  border: 0px;
}

.trainers h1, .programs h1{
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  font-size: 60px;
  padding: 25px 0px;
  text-transform: uppercase;
}

.trainers h1{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size:60px;
}

.programs h1{
  font-size: 50px;
}

.hr-sc{
  clear: both;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-top: 18px;
  margin-bottom: 40px;
}

.trainers h3{
  font-weight: 600;
  margin-bottom: 20px;
}

.trainers p{
  font-size: 20px;
  line-height: 30px;
}

.trainers-detail p, .trainers-detail p a{
  font-size: 15px;
  line-height: 26px;
  color: #7b7e83;
}

.programs-link{
  display: inline-block;
  max-width: 300px;
  margin-bottom: 24px;
  text-align: center;
}

.programs .featured-image .transparency{
  background: rgba(40, 177, 222, 0.5);
}

.programs-content{
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}

